/* CSS Ruleset
selector, 
selector2 {
    property: value;
    property: value;
}
Types of CSS selectors
1. Element selectors
2. Attribute selectors - They target the element attr
    3. ID selectors
    4. Class selectors
5. Pseudo selectors - Listens to particular HTML events */
html{
    margin-top: 0px;
}
h1, 
h2 {
    color: blue;
    text-align: center;
}

img {
    height: 350px ;
    width: 350px;
}

footer ul{
    height: 200px;
    background-color: black;
}
 footer > ul > li> a{
     color: white;
     background-color: black;
 }

 .header {
     background-image: url("../images/bird.jpeg");
     height: 70vh;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .special {
     color: maroon;
 }

 h2.special{
     text-decoration: underline;
 }

 #bullets{
    background-color: grey;
    padding: 20px;
    border: 3px solid maroon;
    margin: 40px;
 }
 #bullets li{
     margin-left: 15px;
 }

