/* CSS Ruleset
selector, 
selector2 {
    property: value;
    property: value;
}
Types of CSS selectors
1. Element selectors
2. Attribute selectors - They target the element attr
3. ID selectors
4. Class selectors
5. Pseudo selectors - Listens to particular HTML events */
*{
    background-color: lightgrey;
}
h1, 
h2 {
    color: blue;
    text-align: center;
}

img {
    height: 350px ;
    width: 350px;
}

footer ul{
    height: 200px;
    background-color: black;
}
 footer > ul > li> a{
     color: white;
     background-color: black;
 }

